@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


.toolbar {
    background-color: white;

}
.container {

    height: 56px;

    padding-bottom: 8px;

    

    display: flex;
    flex-direction: row;        
    justify-content: center;
    align-items: center;
}

.container-logo {



    width: 90px;
    height: 32px;

    margin: 0px;
    margin-top: 4px;

    display: flex;
    flex-direction: row;

}

.img {

    
    width: 30px;
    height: 30px;
    
    margin-top: 2px;
    margin-right: 2px;
     
}


.name-logo {
 
    height: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
   
}

.biotech-name {

    margin-top: 5px;
    margin-bottom: 1px;
   
    color: #6c6d6d;

}

.biotech-name strong {

    font-weight: 900;

}

.biotech-name span {

    font-weight: 400;

}

.biotech-name-consultoria {
     
    margin-top: -4px;
    margin-left: 1px;

    font-weight: 400;
    font-size: 6px;

    color: #939393;
    letter-spacing: 1.5px;
  
}

.check-title {

    box-sizing: border-box;

    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 20px;
    
    display: flex;
    align-items: baseline;
    flex-direction: row; 

}

.report-title {

    font-weight: 500;
    font-size: 20px;

    color: #4f4f4f;

}

.date-title {

    margin-left: 12px;
    font-weight: 500;
    color: #6c6d6d;

}

.label {

    height: 20px;

    font-weight: 300;

    margin-left: 4px!important;
        
}
.label-text {
    color: #4f4f4f;

}

.checkbox {

    width: 16px;
    height:16px;

   
    --checkmark-width: 2px;
    --checkmark-color: #ffff;
   
    --width-checked:0px;
    --background-checked: #4dbbff;
    --border-color-checked: #4dbbff;

    --border-width: 2px;
    

    transition: 400ms;
    margin-left: 12px;
    
}


.icon-close {

    font-size: 16px;
    font-weight: 700;

    margin-right: 8px;
    color: #4f4f4f;
    
}

.button-add{

    
    margin:4px 10px 10px 10px ;

    
    
}

.button-add span {

    font-size: 20px;

    
    margin-left: 6px;
    
}

.button-add p {

    margin-left: 35px;
      
    font-size: 14px;
    
    color: #6c6d6d; 

    text-transform: initial;
    
}
 

 

   




  
      
      
  
  

  

  

  

  