ion-content ion-toolbar {
  --background: translucent;
}

.new-background-color{
  --background:#ffffff;
  text-align: center;
  padding-left: 2em;
  padding-right: 0.5em;
}

.principal{
  --background:#ffffff ;
  
}

ion-tab-bar{
  display:flex;
}

.box{ 
  width: 100%;
  height: 170px;
}

.linha{
  width: 1px;
  height: 140px;
  border: 1px solid #4dbbff;
  --background: #4dbbff;
  border-color: #4dbbff;
}

.linha2{
  width: 1px;
  height: 60px;
  border: 1px solid #4dbbff;
  --background: #4dbbff;
}

.centralizar{
  margin-bottom: 10px;
  text-align: left;
  top: 1px;
  font-size: 20px;
  line-height: 19px;
  font-style: normal;
  font-weight: normal;
  --color: #6C6D6D;
  position: absolute;
}

.centralizar2{
  top:25px;
  font-size: 20px;
  line-height: 19px;
  font-style: normal;
  font-weight: normal;
  --color: #6C6D6D;
  position: absolute;
  text-align: left;
}

.rodape{
  text-align: center;
}

.ioncard{
  height: 63% ;
  margin-left: 20px;
  margin-right: 20px;
  
}

.ioncardplantao{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}



.circulo{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #000000;
  --background: transparent;
}

.circulocentral{
  text-align: center;
  margin-left: 26px;
  margin-right: 4px; 
}

.circulo2{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #000000;
  --background: transparent;
}

.circulocentral2{
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
}