@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.menosLaranja, .maisLaranja {
color: #FC904C;
font-size: 32px;
font-weight: bold;
letter-spacing: -3.5px;
align-self: stretch;
}
.menosCinza {
    color: #6C6D6D;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18pt;
    align-self: baseline;
}
ion-button {
 fill: clear;
}
.cardPlantao {
    position: absolute;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    background: #FFFFFF;
    box-shadow: 4px -4px 12px rgba(196, 196, 196, 0.4), 0px 4px 12px rgba(196, 196, 196, 0.2);
    align-self: center;
}
.horario {
    font-family: Roboto, sans-serif;
    font-weight: medium;
    color: 6C6D6D;
    font-size: 12px;
}
.diasDaSemana{
    font-family: Roboto, sans-serif;
    font-weight: medium;
    color: 6C6D6D;
    font-size: 14px;
    padding-left: 11pt;
}
.cardPlantaoHeader{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: 6C6D6D;
    font-size: 16px;
    width: fit-content;
    padding-left: 24pt;
    padding-top: 24pt;
}
ion-row{
    align-items: center;
}
ion-col{
    width: max-content;
}
ion-content {
    align-items: center;
}
.DIA {
    --placeholder-color: 6C6D6D;
    --placeholder-opacity: 100%;
    width: fit-content; 
    --color-hover: #FC904C;
    --placeholder-color-hover: #FFFFFF;
}